        /*Large laptop*/
        
        @media(min-width:1000px) {
            .container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        /*small laptop*/
        
        @media (max-width:999px) and (min-width:751px) {
            .container {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
        /*tablet*/
        
        @media(max-width:750px) {
            .container {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
        /*Phone*/
        
        @media(max-width:450px) {
            .container {
                display: grid;
                grid-template-columns: 1fr;
            }
        }